* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh; 
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.section{
    border: none;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;

}

.section h1 {
    display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}

.name {
  display: flex;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.row label{
    padding-bottom: 7px;
    color: #636060;
    font-size: 14px
}

.row input, select {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 4px;
  border: 2px solid #d7d1d1;
}

.phone{
    display:flex;
}

.phone select{
    border-right:none;
     border-radius: 5px 0 0 5px;
    
}
.phone input{
    width: 100%;
    border-left:none;
     border-radius: 0px 5px 5px 0;
}

.btn{
    width: 100%;
    padding:7px;
    border-radius: 5px;
    border: 1px solid;
    color: #ffffff;
    background-color: #ff5e00;
    font-family: "poppins";
}

.btn:hover{
    color: #ffffff;
    background-color: #cc5f00;
}

@media (max-width: 248px){

  body{
    padding: 15px; /* biar gak nempel ke pinggir */
  }

  .section{
    padding: 25px; /* dari 50px jadi kecil */
    width: 100%;
  }

  .name{
    flex-direction: column; /* dari 2 kolom jadi 1 */
  }

}


/* hasil */
.back{
    padding: 6px;
    background-color: #ff5e00;
    border-radius:4px;
    text-decoration: none;
     color:#ffffff;
}

.back:hover{
    background-color: #be4803;
}