
body{
    margin: 0;
}


.wrapper{
    display: flex;
    padding: 20px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #2a2f33;
    object-fit: cover;
}


.nama{
    
}


.nama h1{
    margin: 10px;
    color: #2a2f33;
    padding-bottom: 6px;
    margin-bottom: 0;
}
.nama p{
    margin: 10px;
    color: #ccd6dd;
    padding-bottom: 9px;
    margin-top: 0;
}